$sideBarWidth: 210px;

html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

.main-container {
  min-height: 100%;
  transition: margin-left 0.28s;
  margin-left: $sideBarWidth;
  position: relative;
}
.sidebar-container {
  transition: width 0.28s;
  width: $sideBarWidth !important;
  background-color: #304156;
  height: 100%;
  position: fixed;
  font-size: 0px;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
  overflow: hidden;
}

#__nuxt {
  .sidebar-container {
    .el-menu {
      width: 100% !important;
      height: 100%;
      border: none;
    }
  }
}

.hideSidebar {
  .sidebar-container {
    width: 54px !important;
  }
  .main-container {
    margin-left: 54px;
  }
}
.app-container {
  padding: 20px;
}

.app-main {
  /* 85= navbar  50 + tags 35  */  
  min-height: calc(100vh - 85px);
  width: 100%;
  position: relative;
  overflow: hidden;
  // padding: 10px;
}


.home-page {
  height: calc(100vh - 85px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.test-dialog {
  .el-dialog__body {
    padding: 10px 20px;
    .out-container {
      min-height: 300px;
      .el-aside {
        border: 1px solid #e6e6e6;
        .el-menu {
          border: none;
        }
      }
      .inner-container {
        border-top: 1px solid #e6e6e6;
        border-right: 1px solid #e6e6e6;
      }
    }
  }
}